<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
                Mailing statistics
                <small class="d-block mb-3 text-muted">© 2023</small>
        </div>

        <div class="col-6 col-md">
            <h5>All statistics</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Mailing</a></li>
                <li><a class="text-muted" href="#">Viewss</a></li>
                <li><a class="text-muted" href="#">Recievers</a></li>
                <li><a class="text-muted" href="#">Your actions</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5>In addition</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Main page</a></li>
                </ul>
        </div>

        <div class="col-6 col-md">
            <h5>About us</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Contacts</a></li>
                </ul>
        </div>
    </div>
</footer>