{% extends 'mailing/base.html' %}
{% block title %} Home page {% endblock %}
{% block content %}
{% include 'mailing/header.html' %}

<div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Information about mailings</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li><h2><a href="{% url 'mailing:mailing_list' %}"  class="btn btn-lg btn-block btn-outline-primary mb-4">All mailings</a></h2></li>
                        <li><h2><a href="{% url 'mailing:receivers_list' %}"  class="btn btn-lg btn-block btn-outline-primary mb-4">All clients</a></h2></li>

                        <li><h2><a href="{% url 'mailing:statistics' %}"  class="btn btn-lg btn-block btn-outline-primary mb-4">Statistics</a></h2></li>

                        <li>- Active mailings </li>
                        <li>- Inique receivers</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-5">
        </div>

        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Creates mailing</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li><h2><a href="{% url 'mailing:receiver_create' %}"  class="btn btn-lg btn-block btn-outline-primary mb-4">Create new Client</a></h2></li>
                        <li><h2><a href="{% url 'mailing:message_create' %}"  class="btn btn-lg btn-block btn-outline-primary mb-4">Create new Message</a></h2></li>
                        <li><h2><a href="{% url 'mailing:message_create' %}"  class="btn btn-lg btn-block btn-outline-primary mb-4">Create new Mailing</a></h2></li>

                        <li><h2>XXX</h2></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% include 'mailing/footer.html' %}
{% endblock %}