{% extends 'mailing/base.html' %}

{% block title %}Delete message: {{object.message.title}} {% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<h2>Delete message {{ object.message.title }}</h2>
<p>Are you sure you want to delete {{ object.message.title }}?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Continue to delete</button>
    <a href="#" class="btn btn-primary">Reject</a>
    <a href="#" class="btn btn-primary">Back to list of mailings</a>

  </form>

{% endblock %}