{% extends 'mailing/base.html' %}
{% block title %}Add your Mailing{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<h2> {{ title }} </h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" enctype="multipart/form-data" method="post">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                            {{ form.as_p }}
                                <button class="btn btn-primary mt=3" type="submit">
                                    {% if object %}
                                        Update mailing
                                    {% else %}
                                        Create mailing
                                    {% endif %}
                                </button>
                        <p><a class="btn btn-success mt-3"
                              href="{% url 'mailing:mailing_list' %}">Back to all Mailings</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}