{% extends 'mailing/base.html' %}
{% block title %}List of the Mailings{% endblock %}
{% block content %}
{% include 'mailing/header.html' %}

{% if not object_list %}
    <p class="lead">You do not have any mailings. Please, <a href="{% url 'mailing:mailing_create' %}">create first mailing</a></p>
{% else %}

<div class="row text-center">
    <div class="col-12">
        {% if user == object.mailing_sender %}
            <p><a class="btn btn-success" href="{% url 'mailing:mailing_create' %}">Add Mailing</a></p>
        {% endif %}
        <div class="d-flex flex-wrap">
            {% for mailing in object_list %}
                <div class="card ms-4 mb-5" style="width: 25rem">
                    <div class="card-body mb-3">
                        <h2 class="card-title">{{mailing.message.title }}</h2>
                        <p class="card-text">{{mailing.message.message|truncatechars:100}}</p>
                        {% if "mailing.deactivate_mailings" in perms %}
                            Mailing status: {{ mailing.status }}
                        {% endif %}
                        <p><a class="btn btn-secondary"
                              href="{% url 'mailing:mailing_detail' mailing.pk %}">More about</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-3">
            <h2><a class="btn btn-lg btn-block btn-outline-primary mb-4"
                   href="{% url 'mailing:attempt_create' %}">Send Mailing</a>
            </h2>
        </div>
    </div>
</div>
{% endif %}
{% include 'mailing/footer.html' %}
{% endblock %}