{% extends 'mailing/base.html' %}
{% block title %}Add your client{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<h2> {{ title }} </h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                        {% if object %}
                            Update mailing
                        {% else %}
                            Create mailing
                        {% endif %}
                        </button>
                        <a class="btn btn-primary mb-3" href="{% url 'mailing:mailing_list' %}" >Back to all mailings</a>
                        <a class="btn btn-primary mb-3" href="{% url 'mailing:message_create' %}" >Create new Message</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}